body {
  display: flex;
  flex-direction: column;
  text-align: center;
}
button {
  background-color: lightskyblue;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  padding: 5px;
  width: 80px;
}
ul {
  list-style-type: none;
  gap: 20px;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 50px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}
p {
  margin: 0;
  margin-bottom: 10px;
}
h1 {
  margin-bottom: 0px;
}
.container-header {
  display: flex;
  flex-direction: column;
  background: #1f2937;
  height: 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 10px;
}

.pawLogo {
  width: 50px;
  height: 50px;
  background-color: #1f2937;
}

.header-left {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 250px;
}
.header-right {
  margin-right: 280px;
}

.container-header-content {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.header-content-info {
  font-size: 18px;
  color: #e5e7eb;
  height: 200px;
  width: 300px;
}
.header-content-img {
  max-height: 200px;
  max-width: 300px;
  margin: 20px;
  border-radius: 5px;
}

.container-randomInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.card-img {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-radius: 10px;
  margin: 20px;
}
.container-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 36px;
  font-style: italic;
  background-color: #e5e7eb;
}
.quote {
  width: 400px;
}
.quoted {
  font-weight: 800;
  text-align: right;
  color: #1f2937;
}
.container-signUp {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
}

.signUp {
  background-color: #3882f6;
  width: 920px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
}

.button.signup {
  color: white;
  background-color: #3882f6;
  border: solid;
}
.footer {
  background-color: #1f2937;
  color: white;
  height: 50px;
}
.footer-p {
  margin-top: 15px;
}
