body {
  display: flex;
  flex-direction: column;
}

.container-header {
  display: flex;
  flex-direction: column;
  background: #1f2937;
  max-height: 450px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 10px;
}
ul {
  list-style-type: none;
  gap: 20px;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 50px;
}
a {
  text-decoration: none;
  color: #e5e7eb;
}
.header-left {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 200px;
}
.header-right {
  margin-right: 200px;
}

.container-header-content {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.header-content-info {
  font-size: 18px;
  color: #e5e7eb;
  height: 200px;
  width: 300px;
}
img {
  width: 300px;
  height: 200px;
  margin: 20px;
}
button {
  background-color: lightskyblue;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  padding: 5px;
  width: 80px;
}
p {
  margin: 0;
  margin-bottom: 10px;
}
h1 {
  margin-bottom: 0px;
}
